*.exe
/Chapter 4/bin/IronRuby.Libraries.dll
/Chapter 4/bin/IronRuby.dll
/Chapter 4/bin/J832.Common.dll
/Chapter 4/bin/J832.Wpf.BagOTricksLib.dll
/Chapter 4/bin/Microsoft.Dynamic.dll
/Chapter 4/bin/Microsoft.Scripting.Core.dll
/Chapter 4/bin/Microsoft.Scripting.ExtensionAttribute.dll
/Chapter 4/bin/Microsoft.Scripting.dll
/Chapter 4/bin/Witty.Controls.dll
/Chapter 4/bin/Witty.Controls.pdb
/Chapter 4/controls/Witty.Controls.sln.cache
/Chapter 4/controls/Witty.Controls/bin/Debug/IronRuby.Libraries.dll
/Chapter 4/controls/Witty.Controls/bin/Debug/IronRuby.dll
/Chapter 4/controls/Witty.Controls/bin/Debug/Microsoft.Dynamic.dll
/Chapter 4/controls/Witty.Controls/bin/Debug/Microsoft.Scripting.Core.dll
/Chapter 4/controls/Witty.Controls/bin/Debug/Microsoft.Scripting.ExtensionAttribute.dll
/Chapter 4/controls/Witty.Controls/bin/Debug/Microsoft.Scripting.dll
/Chapter 4/controls/Witty.Controls/bin/Debug/Witty.Controls.dll
/Chapter 4/controls/Witty.Controls/bin/Debug/Witty.Controls.pdb
/Chapter 4/controls/Witty.Controls/obj/Debug/Controls/FilterText.baml
/Chapter 4/controls/Witty.Controls/obj/Debug/Controls/FilterText.g.cs
/Chapter 4/controls/Witty.Controls/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Chapter 4/controls/Witty.Controls/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Chapter 4/controls/Witty.Controls/obj/Debug/ResGen.read.1.tlog
/Chapter 4/controls/Witty.Controls/obj/Debug/ResGen.write.1.tlog
/Chapter 4/controls/Witty.Controls/obj/Debug/ResolveAssemblyReference.cache
/Chapter 4/controls/Witty.Controls/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Chapter 4/controls/Witty.Controls/obj/Debug/Witty.Controls.Properties.Resources.resources
/Chapter 4/controls/Witty.Controls/obj/Debug/Witty.Controls.csproj.FileListAbsolute.txt
/Chapter 4/controls/Witty.Controls/obj/Debug/Witty.Controls.dll
/Chapter 4/controls/Witty.Controls/obj/Debug/Witty.Controls.g.resources
/Chapter 4/controls/Witty.Controls/obj/Debug/Witty.Controls.pdb
/Chapter 4/controls/Witty.Controls/obj/Debug/Witty.Controls_MarkupCompile.cache
/Chapter 4/controls/_ReSharper.Witty.Controls/BuildScriptCache/.crc
/Chapter 4/controls/_ReSharper.Witty.Controls/BuildScriptCache/.version
/Chapter 4/controls/_ReSharper.Witty.Controls/BuildScriptCache/1/1843c95e.dat
/Chapter 4/controls/_ReSharper.Witty.Controls/DecompilerCache/metadata/System-8d8f/Assembly.Location.txt
/Chapter 4/controls/_ReSharper.Witty.Controls/DecompilerCache/metadata/System-8d8f/System.ComponentModel.INotifyPropertyChanged.cs
/Chapter 4/controls/_ReSharper.Witty.Controls/DecompilerCache/metadata/System-8d8f/System.ComponentModel.INotifyPropertyChanged.cs.flags
/Chapter 4/controls/_ReSharper.Witty.Controls/DecompilerCache/metadata/System-8d8f/System.ComponentModel.INotifyPropertyChanged.cs.info
/Chapter 4/controls/_ReSharper.Witty.Controls/ModuleIds.xml
/Chapter 4/controls/_ReSharper.Witty.Controls/NamedArguments/.crc
/Chapter 4/controls/_ReSharper.Witty.Controls/NamedArguments/.version
/Chapter 4/controls/_ReSharper.Witty.Controls/NamedArguments/1/264fff07.dat
/Chapter 4/controls/_ReSharper.Witty.Controls/PdbInfo/ea811a996e2e07b57ad67409971de129b58732e9
/Chapter 4/controls/_ReSharper.Witty.Controls/ProjectModel/ProjectModel.dat
/Chapter 4/controls/_ReSharper.Witty.Controls/Resources/.crc
/Chapter 4/controls/_ReSharper.Witty.Controls/Resources/.version
/Chapter 4/controls/_ReSharper.Witty.Controls/Resources/1/65f6181e.dat
/Chapter 4/controls/_ReSharper.Witty.Controls/SymbolCache.bin
/Chapter 4/controls/_ReSharper.Witty.Controls/TagPrefixes/.crc
/Chapter 4/controls/_ReSharper.Witty.Controls/TagPrefixes/.version
/Chapter 4/controls/_ReSharper.Witty.Controls/TodoCache/.crc
/Chapter 4/controls/_ReSharper.Witty.Controls/TodoCache/.version
/Chapter 4/controls/_ReSharper.Witty.Controls/TodoCache/3/3298f9ad.dat
/Chapter 4/controls/_ReSharper.Witty.Controls/WebsiteFileReferences/.crc
/Chapter 4/controls/_ReSharper.Witty.Controls/WebsiteFileReferences/.version
/Chapter 4/controls/_ReSharper.Witty.Controls/WordIndex/.crc
/Chapter 4/controls/_ReSharper.Witty.Controls/WordIndex/.version
/Chapter 4/controls/_ReSharper.Witty.Controls/WordIndex/1/264fff07.dat
/Chapter 4/controls/_ReSharper.Witty.Controls/Xaml/CacheProvider.dat
/Chapter 6/MockChat.Models/MockChat.Models.csproj.user
/Chapter 6/MockChat/irb_init.rb
/Chapter 5/Gemtris/clr/Gemtris/Gemtris.5.0.resharper.user
/Chapter 5/Gemtris/clr/Gemtris/Gemtris.sln.cache
/Chapter 5/Gemtris/clr/Gemtris/Gemtris.suo
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Debug/Gemtris.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Debug/Gemtris.pdb
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/Gemtris.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/Gemtris.pdb
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/System.Windows.Controls.Navigation.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/System.Windows.Controls.Navigation.xml
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/de/System.Windows.Controls.Navigation.resources.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/es/System.Windows.Controls.Navigation.resources.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/fr/System.Windows.Controls.Navigation.resources.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/it/System.Windows.Controls.Navigation.resources.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/ja/System.Windows.Controls.Navigation.resources.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/ko/System.Windows.Controls.Navigation.resources.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/zh-Hans/System.Windows.Controls.Navigation.resources.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Bin/Release/zh-Hant/System.Windows.Controls.Navigation.resources.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/Gemtris.csproj.user
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Debug/Gem.g.cs
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Debug/Gemtris.csproj.FileListAbsolute.txt
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Debug/Gemtris.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Debug/Gemtris.g.resources
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Debug/Gemtris.pdb
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Release/CSCB5A0.tmp
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Release/Gem.g.cs
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Release/Gemtris.csproj.FileListAbsolute.txt
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Release/Gemtris.dll
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Release/Gemtris.g.resources
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Release/Gemtris.pdb
/Chapter 5/Gemtris/clr/Gemtris/Gemtris/obj/Release/ResolveAssemblyReference.cache
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/BuildScriptCache/.crc
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/BuildScriptCache/.version
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/BuildScriptCache/3/586c59ce.dat
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/NamedArguments/.crc
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/NamedArguments/.version
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/NamedArguments/9/7f807d99.dat
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/PdbInfo/ea811a996e2e07b57ad67409971de129b58732e9
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/ProjectModel/ProjectModel.dat
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/Resources/.crc
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/Resources/.version
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/SymbolCache.bin
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/TagPrefixes/.crc
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/TagPrefixes/.version
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/TodoCache/.crc
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/TodoCache/.version
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/TodoCache/3/586c59ce.dat
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/WebsiteFileReferences/.crc
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/WebsiteFileReferences/.version
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/WordIndex/.crc
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/WordIndex/.version
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/WordIndex/7/733782f3.dat
/Chapter 5/Gemtris/clr/Gemtris/_ReSharper.Gemtris/Xaml/CacheProvider.dat
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/bin/Debug/Gemtris.dll
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/bin/Debug/Gemtris.pdb
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/bin/Release/Gemtris.dll
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/bin/Release/Gemtris.pdb
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Debug/Board.baml
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Debug/Board.g.cs
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Debug/Gem.baml
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Debug/Gem.g.cs
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Debug/Gemtris.csproj.FileListAbsolute.txt
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Debug/Gemtris.dll
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Debug/Gemtris.g.resources
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Debug/Gemtris.pdb
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Debug/Gemtris_MarkupCompile.cache
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Debug/Gemtris_MarkupCompile.lref
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Debug/GeneratedInternalTypeHelper.g.cs
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Release/Board.baml
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Release/Board.g.cs
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Release/Gem.baml
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Release/Gem.g.cs
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Release/Gemtris.csproj.FileListAbsolute.txt
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Release/Gemtris.dll
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Release/Gemtris.g.resources
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Release/Gemtris.pdb
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Release/Gemtris_MarkupCompile.cache
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris/obj/Release/Gemtris_MarkupCompile.lref
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris.sln.cache
/Chapter 5/Gemtris/clr/_____Gemtris/Gemtris.suo
